<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/registro.css">
</head>
<body>
    <main>
        <h1 class="h1">Lista de registro</h1>
        <table>
            <tr class="tr">
                <th class="t1">Nombre</th>
                <th class="t1">Apellido</th>
                <th class="t1">Edad</th>
            </tr>
            {% for registro in registros %}
            <tr class="tr">
                <td class="t2">{{ registro.nombre }}</td>
                <td class="t2">{{ registro.apellido }}</td>
                <td class="t2">{{ registro.edad }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
    <button class="btn"><a href="/registro">Registrar</a></button>

     
</body>
</html>