<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/registro.css">
</head>
<body>
    <main>
        <h1 class="h1">Lista de registro</h1>
        <table>
            <tr class="tr">
                <th class="t1">Nombre</th>
                <th class="t1">Apellido</th>
                <th class="t1">Edad</th>
            </tr>
            <tr class="tr">
                <td class="t2"><input type="text" name="nombre" required></td>
                <td class="t2"><input type="text" name="apellido" required></td>
                <td class="t2"><input type="number" name="edad" required></td>
            </tr>
    </main>

     
</body>
</html>